// monthlyStats.pug
p الإحصائيات الشهرية
br
div(class="grid grid-cols-2 gap-6 mb-6")
  div(class="bg-white p-6 shadow-md rounded-lg flex justify-between items-center")
    span.text-lg 100 فاتورة هذا الشهر
    i(class="fas fa-file-invoice text-red-500 text-4xl")
  div(class="bg-white p-6 shadow-md rounded-lg flex justify-between items-center")
    span.text-lg 200 مادة هذا الشهر
    i(class="fas fa-box-open text-blue-500 text-4xl")
  div(class="bg-white p-6 shadow-md rounded-lg flex justify-between items-center")
    span.text-lg 150 أنقاض هذا الشهر
    i(class="fas fa-dumpster text-green-600 text-4xl")
  div(class="bg-white p-6 shadow-md rounded-lg flex justify-between items-center")
    span.text-lg 50 محاسب عليه هذا الشهر
    i(class="fas fa-calculator text-orange-500 text-4xl")

hr
