// recentEntries.pug
div(class="mt-8")
  h2.text-2xl.mb-4 آخر الفواتير المدخلة
  table(class="table-auto w-full bg-white shadow-md rounded-lg mb-6")
    thead
      tr
        th.text-right.px-4.py-2 فاتورة
        th.text-right.px-4.py-2 التاريخ
        th.text-right.px-4.py-2 المبلغ
    tbody
      // مثال لصف واحد
      tr
        td.px-4.py-2 فاتورة رقم 123
        td.px-4.py-2 2024-01-01
        td.px-4.py-2 100 دينار
  h2.text-2xl.mb-4 آخر المواد المدخلة
  table(class="table-auto w-full bg-white shadow-md rounded-lg mb-6")
    thead
      tr
        th.text-right.px-4.py-2 مادة
        th.text-right.px-4.py-2 التاريخ
        th.text-right.px-4.py-2 العدد
    tbody
      // مثال لصف واحد
      tr
        td.px-4.py-2 مادة رقم 456
        td.px-4.py-2 2024-01-02
        td.px-4.py-2 50

  h2.text-2xl.mb-4 آخر الأنقاض المدخلة
  table(class="table-auto w-full bg-white shadow-md rounded-lg mb-6")
    thead
      tr
        th.text-right.px-4.py-2 السائق
        th.text-right.px-4.py-2 التاريخ
        th.text-right.px-4.py-2 العدد
    tbody
      // مثال لصف واحد
      tr
        td.px-4.py-2  سعد قاسم
        td.px-4.py-2 2024-01-02
        td.px-4.py-2 50

