footer(class="flex justify-around text-center text-[#9a9a9a] pt-7 border-t-2 border-[#33333333]")
    div
        img(src="/img/anhar\ albasra\ logo\ 2.png", class="w-16", srcset="")
    div
        p &copy; 2024 أنهار البصرة
        p code with love by codoba team
    div
    

    // روابط JavaScript
    //- script(src="/scripts.js")