// topbar.pug
div(class="bg-white shadow-md p-4 flex justify-between items-center")
  h1.text-xl.font-bold #{title}
  p(class="text-red-500 border border-red-500 border-solid p-3") جميع البيانات وهميه
  div
    button(class="text-cyan-600  p-2 rounded-lg") 
      i(class="fa-solid fa-gear")
