extends ../layouts/main.pug

block content
  h2(class="text-2xl mb-4") إضافة فاتورة جديدة

  form(action="/bills" method="POST" class="space-y-4 bg-gray-50 p-6 rounded-md shadow-md gred")
    label(for="bill_date" class="block mb-2 text-lg") تاريخ الفاتورة:
    input(type="date", name="bill_date", required class=" p-2 border rounded-md")

    label(for="party" class="block mb-2 text-lg") الطرف:
    input(type="text", name="party", required class=" p-2 border rounded-md")

    label(for="type" class="block mb-2 text-lg") نوع الفاتورة:
    select(name="type" required class=" p-2 border rounded-md")
      option(value="صيانة") صيانة
      option(value="مشتريات") مشتريات
      option(value="رواتب") رواتب
      option(value="عمال") عمال
      option(value="بترول") بترول
      option(value="أسفلت") أسفلت

    label(for="responsible" class="block mb-2 text-lg") المسؤول:
    input(type="text", name="responsible", required class="w-full p-2 border rounded-md")

    label(for="restriction" class="block mb-2 text-lg") القيد:
    input(type="text", name="restriction", required class="w-full p-2 border rounded-md")

    label(for="name" class="block mb-2 text-lg") الاسم:
    input(type="text", name="name", required class="w-full p-2 border rounded-md")

    label(for="count" class="block mb-2 text-lg") العدد:
    input(type="text", name="count", required class="w-full p-2 border rounded-md")

    label(for="diq_price" class="block mb-2 text-lg") السعر بالدينار العراقي:
    input(type="number", name="diq_price", required class="w-full p-2 border rounded-md")

    label(for="usd_price" class="block mb-2 text-lg") السعر بالدولار الأمريكي:
    input(type="number", name="usd_price", required class="w-full p-2 border rounded-md")

    label(for="detail" class="block mb-2 text-lg") التفاصيل:
    input(type="text", name="detail" class="w-full p-2 border rounded-md")

    label(for="note" class="block mb-2 text-lg") ملاحظة:
    input(type="text", name="note" class="w-full p-2 border rounded-md")

    label(for="vhicle_number" class="block mb-2 text-lg") رقم المركبة (اختياري):
    input(type="text", name="vhicle_number" class="w-full p-2 border rounded-md")

    button(type="submit" class="w-full bg-teal-500 text-white p-3 rounded-md mt-4") إضافة الفاتورة

  a(href="/bills" class="block text-teal-600 mt-4") العودة إلى القائمة
