// import.pug
extends ../layouts/main

block content
  h1 رفع ملف Excel واستيراد البيانات
  form(action="/bills/import" method="POST" enctype="multipart/form-data")
    input(type="file" name="excelFile" accept=".xlsx")
    button(type="submit") رفع واستيراد